.section_painel{
  position: relative;
  max-width: 520px;
}
.painelCompra{
  position: relative;
  display: flex;
  width: 520px;
}

[class*='painelCompra__inputs']{
  display: flex;
  flex-direction: column;
}

[class*='painelCompra__inputs'] label{
  font-size: 10px;
  font-weight: 600;
  color: #ff8106;
  padding-bottom: 5px;
}
[class*='painelCompra__inputs'] input {
  padding: 8px;
  font-size: 16px;
  color: #515151;
  border-radius: 4px;
  border: 0.15em solid #eee ;
  background-color: #fdfdfd;
  outline-color: rgb(253, 166, 41);
  outline-width: 1px;
}

.painelCompra__inputs--nome {
  position: relative;
  width: 400px;
}
.painelCompra__inputs--qtd {
  width: 90px;
  margin-left: 30px;
}


.painelCompra__action{
  padding: 20px 0 ;
}
.painelCompra__action,
app-btn-add,
app-btn-clear,
app-btn-delet
{
  max-width: 520px;
  margin: 0 5px;
}
