<div class="menu__bar">
  <app-icon-branging></app-icon-branging>
  <ul class="menu__bar__links">
    <li class="link--sobre">

      <a
        href="{{ links.perfil}}"
        target="_blank"
      >
        Sobre
      </a>

    </li>
    <li class="link--contatos">

      <a
        href="{{ links.contato }}"
        target="_blank"
      >
        Contato
      </a>

    </li>
    <li class="link--anuncios">

      <a
        href="{{ links.git }}"
        target="_blank"
      >
        GitHub
      </a>

    </li>
  </ul>
</div>
