.footer{
  width: 100%;
  height: 60px;
  background-color: #3a3a3a;
}
.footer__auth {
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}
.footer__auth__name {
  color: white;
}
