<div class="section_painel">

  <div class="painelCompra">
    <div class="painelCompra__inputs--nome">
      <label for="">Nome</label>
      <input type="text"
             [value]="nome"
             (input)="updateNome($event)"
      >

    </div>

    <div class="painelCompra__inputs--qtd">
      <label for="" >Quantidade</label>
      <input type="number"
             [value]="qtd"
             (change)="updateQtd($event)"
      >

    </div>
  </div>

  <div class="painelCompra__action">

    <app-btn-delet></app-btn-delet>

    <app-btn-clear (click)="clearInput()"></app-btn-clear>

    <app-btn-add (click)="addItem()"></app-btn-add>

  </div>

</div>

