.btnAdd{
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none ;
  background-color: #1c941c;
  color: white;
  -webkit-box-shadow: -1px 10px 13px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: -1px 10px 13px -5px rgba(0,0,0,0.22);
  box-shadow: -1px 10px 13px -5px rgba(0,0,0,0.22);
  transition: 200ms box-shadow ;
  outline: none ;
}

.btnAdd:hover{
  background-color: #31b831;
  box-shadow: none ;
}
