.btnClear{
  width: 100px;
  height: 30px;
  border: none ;
  border-radius: 5px;
  background-color: #3b93ff;
  color: white;
  -webkit-box-shadow: -1px 10px 13px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: -1px 10px 13px -5px rgba(0,0,0,0.22);
  box-shadow: -1px 10px 13px -5px rgba(0,0,0,0.22);
  transition: 200ms box-shadow ;
  outline: none ;
}

.btnClear:hover{
  background-color: #32a6ff;

  box-shadow: none ;
}
